#div22 {
    background-color: #743424;
    height: 180px;
    width: 100vw;
    font-size:40pt;
    color:ghostwhite;
    text-align: center;
    line-height: 60px;
    padding-top: 40px;
}
#div23{
    width:88vw;
    height:220px;
    margin-left: 6vw;
    margin-right:6vw;
    background-color: #f9f9f9;
    line-height:30px;
    padding-top:35px;
}
.p1{
    font-size: 18pt;
    color: grey;
    text-align: left;
}
#p2{
    font-size: 15pt;
    color: grey;
    text-align: left;
}
#div24{
    display:flex;
    flex-direction: row;
    background-color:#404328;
    width:88vw;
    height:220px;
    margin-left:6vw;
    margin-right:6vw;
}
p{
    padding-left: 50px;
    font-size:15pt;
    color:ghostwhite;
}
#div25{
    width:88vw;
    height:1100px;
    margin-left: 6vw;
    margin-right:6vw;
    background-color: #f3f3f3;
    padding-top:35px; 
}
.div26 {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;   
}
.person {
    color: grey;
    padding-left: 100px;
    padding-top:35px;
}

#div27{
    display:flex;
    flex-direction: row;
    background-color:#ffffff;
    width:88vw;
    height:270px;
    margin-left:6vw;
    margin-right:6vw;
    box-shadow:1px 1px 3px 3px #f3f3f3;
    font-size:15pt;
    padding-top:25px;
}
#div28{
    color: grey;
    padding-left: 40px;
    padding-right:10px;
}
#link{
    padding-left: 70px;
}
