
#rectangle1{
    background-color:#ffffff;
    width:50vw;
    height:140px;
    text-align: center;
    font-size:15pt;
    padding-top: 5px;
    color:grey;
}
#rectangle2{
    background-color:#ffffff;
    width:50vw;
    height:140px;
    padding-top: 20px;
}
#div1 {
    display:flex;
    justify-content: space-around;

}

/* Links inside the navbar */
.rectangle2 a {
float: left;
font-size: 15px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 15px; 
border: none;
outline: none;
color:grey;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
font-size:15pt;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: lightgray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
} 

#div2 {
    display: flex;
    flex-direction: row;
    width:88vw;
    height:550px;
    margin-left: 6vw; 
    margin-right:6vw;
}
#background{
    width:100vw;
    height: 620px;
    background-color: #404328;
}
#column1{
    width:44vw;
    background-color:#f9f9f9;
    font-size:27pt;
    color:#743424;
    text-align: center;
    justify-content: center;
    line-height:50px;
    margin-top:70px;
    opacity:0.9;
    padding-left:20px;
    padding-right:20px;
    padding-top: 65px;
}
#column2 {
    background-image:url("../picture/maxbuddeefinal.png");
    width:44vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    -ms-high-contrast-adjust: auto;
    margin-top:70px;
}
#letter{
    width:86vw;
    height:750px;
    margin-left:6vw;
    background-color:#f3f3f3;
    font-size:15pt;
    padding-left:35px;
    padding-top:35px;
    margin-top: 20px;
    line-height:30px;

}
#div3 {
    display: flex;
    flex-direction: row;
    width:88vw;
    height:70vh;
    margin-left: 6vw;
    margin-right: 6vw; 
    justify-content: space-evenly; 
}
#div4 {
    display:flex;
    flex-direction: row;
    background-color:#404328;
    width:88vw;
    height:120px;
    margin-left:6vw;
    margin-right:6vw;
    align-items: center;
    justify-content: space-evenly;
}
#column4 {
    background-color:#f3f3f3;
    width:30vw;
    height:40px;
    text-align: center;
    font-size:18pt;
    color:#743424;
    padding-top: 15px;
}
#div5 {
    display:flex;
    flex-direction:row;
    width:88vw;
    height:72vh;
    margin-left: 6vw;
    margin-right:6vw;
    justify-content: space-evenly;
}
#div6 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:88vw;
    height:100px;
    align-items: center;
    margin-left: 6vw;
}
#div7 { 
    background-color:#404328;
    width: 100vw;
    height:200px;
    text-align:center;
    padding-top:15px;
    font-size:15pt; 
    color:ghostwhite;  
}
#column3{
    width: 44vw;
    font-size:27pt;
    color: ghostwhite;
}
#column5{
    width:44vw;
    background-color: #743424;
    margin-top:10px;
    margin-bottom: 20px;
    margin-right: 10px;
    color:ghostwhite;
    padding-top:30px;
}
#column5 p {
    padding-left:35px;
    padding-right:35px;
    font-size: 15pt;
    line-height: 30px;
}
#column6{
    width:44vw;
    background-image:url("../picture/medicine.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    -ms-high-contrast-adjust: auto;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
}
.column{
    border-right: 2px solid grey;  
    padding-right:80px;
    font-size: 18pt;
    color:grey;
}
#noBorder{
    font-size: 18pt;
    color:grey;
}
#column7 {
    background-image:url("../picture/peoplelaugh.png");
    height:vh;
    width:44vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    -ms-high-contrast-adjust: auto;
    margin-top: 20px;
    margin-right:10px;
    margin-bottom:10px;
}
#column8 {
    background-color:#743424;
    width:44vw;
    margin-top: 20px;
    margin-left:10px;
    margin-bottom:10px;
    color: ghostwhite;
}
#column8 p {
    padding-left: 35px;
    padding-right: 35px;
    font-size:15pt;
    line-height: 30px;
}
p a{
    color:ghostwhite;
    font-size:15pt;
}
#video {
    width:42vw;
    background-color:#404328;
    padding-top:30px;
    padding-bottom:30px;
}
#image{
    float:left;
    margin-right:30px;
}


    

